<p>cake-system works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />

</head>


<body>

<div class="container">

  <div class="row">
    <div class="col">
      <h1>Rate my cakes</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">

      <div class="row">
        <div class="col" style="border:.2px solid black; padding:33px">
          <form (ngSubmit)="createCakeHandler(createHandlerForm)" #createHandlerForm="ngForm">
            <div class="row">
              <div class="col" style="padding: 0;">
                <p>Submit a cake to be rated</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
              </div>
              <div class="form-group" style="width: 100%;">
                <label for="exampleInputPassword14">Baker name:</label>
                <input type="text" ngModel class="form-control" name="baker_name" id="exampleInputPassword14"
                       placeholder="name">
              </div>
              <!--                       </div>-->
            </div>
            <div class="row">
              <div class="col" style="padding:0">
                <div class="form-group" style="width: 100%;">
                  <label for="exampleInputPassword145">Image url:</label>
                  <input type="text" ngModel class="form-control" name="img_url" id="exampleInputPassword145"
                         placeholder="url">
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col" style="padding: 0;">

                <button type="submit" btn>SUBMIT</button>
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>

    <!---------------->

    <div class="col-md-8 fixHeight">
      <ng-container *ngIf="allCakes">
        <div class="row" *ngFor="let val of allCakes" style="margin-top: 40px;">
          <div class="col">
            <div class="row">
              <div class="col">
                <img
                  src="{{val.img_url}}" style="width:70%; height: 200px;"
                  (click)="imageClickHandler(val._id)"
                  alt="">
              </div>
              <div class="col">
                <form (ngSubmit)="createRateHandler(createRateForm,val._id)" #createRateForm="ngForm">
                  <div class="row">
                    <div class="col">
                    </div>
                    <div class="form-group" style="width:100%;">
                      <div class="col-auto my-1">
                        <select class="form-control  custom-select mr-sm-2" ngModel name="rate" id="inlineFormCustomSelect">
                            <option selected>Choose...</option>
                            <option value="1">1 star</option>
                            <option value="2">2 stars</option>
                            <option value="3">3 stars</option>
                        </select>
                      </div>
                    </div>
                    <!--                       </div>-->
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <textarea class="form-control" ngModel name="comment" id="exampleFormControlTextarea1"
                                  rows="3"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">

                      <button type="submit" btn>Rate!</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>


          </div>
        </div>
      </ng-container>

    </div>

    <!------------------>

  </div>
  <div class="row">
    <ng-container *ngIf="current_cake">
         <app-details [dataFromParent]="current_cake">

    </app-details>
    </ng-container>
  </div>
</div>

<!--</div>-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
<!--<script type="text/javascript" src="./javascripts/cats.js"></script>-->
</body>
</html>
