<p>cake-system works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />

</head>


<body>

 <div class="container">
  <ng-container *ngIf="dataFromParent">

    <div class="row">
      <div class="col">
        <h1>Baked by {{dataFromParent.baker_name}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

        <div class="row">
          <div class="col">
            <img style="width:100%;" src="{{dataFromParent.img_url}}" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col">
            <p>Average rating: {{average()}} stars</p>
          </div>
        </div>
        <ng-container *ngFor="let val of dataFromParent.rates">
          <div class="row">
            <div class="col">
              {{val.comment}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{val.star}} stars
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

</div>

<!--</div>-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
<!--<script type="text/javascript" src="./javascripts/cats.js"></script>-->
</body>
</html>
